* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.container{
    background-color: transparent;
    background-image: radial-gradient(#000000 1px, #e5e5f7 1px);
    background-size: 30px 30px;
    height: 100vh;
    width: 100vw;
    padding: 2rem;
}


.heading{
    font-family: cursive;
    font-size: 3rem;
}

.para-text{
    font-size: 1.5rem;
    font-weight:500;
    margin-bottom: 2rem;
}

.description{
    width: 67%;
    font-size: 1.2rem;
    font-weight:500;
    margin-bottom: 2rem;
}

.img-div img{
    object-fit: cover;
    width: 18rem;
    height: 20rem;
    border-radius: 1rem;
    border: 0.5vmin solid #05060f;
    box-shadow: 0.4rem 0.4rem #05060f;
}

/* card styling */

.card {
    width: 265px;
    background: #7499ef;
    padding: 1rem;
    border-radius: 1rem;
    border: 0.5vmin solid #05060f;
    box-shadow: 0.4rem 0.4rem #05060f;
    overflow: hidden;
    color: black;
  }
  
.card-container{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}